<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django template</title>

    <!-- css style -->
    <style>
      .text {
        color: red;
        font-weight: bold;
        border: 3px solid black;
        padding: 10px;
      }
      h4 {
        text-align: center;
      }
      h1 {
        text-align: center;
        color: green;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Tiger Park Limited!!</h1>
    <hr />
    <h4>This is text</h4>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
      reiciendis, obcaecati quasi quas placeat minus, veritatis possimus fuga
      dolorem praesentium at maiores voluptatem sit amet dicta labore eaque,
      officiis alias?
    </p>
  </body>
</html>
